html{
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    background-color: #efefef;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #333333;
}

h1, h2, h3, h4, h5, h6{
    color:#333333;
    letter-spacing: 1px;
    font-weight: 500;
}

p{
    color: #333333;
    font-weight: 300;
    line-height: 30px;
}




/*HEADER SECTION START*/
.header{
    width: 100%;
}


.header-items{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    min-height: 10vh;
    margin-left: 15%;
    margin-right: 15%;
}

.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header-items P{
    font-size: 0.8rem;
    color: #333333;
    letter-spacing: 3px;
}
.header-items-sub{
    display: flex;
    flex-direction: row;
}
.header-items-sub  a:hover{
    color: #b31942;
}

/* ### dropdown menu css code start ###*/
.dropbtn {
    display: none;
    background-color: #efefef; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #efefef;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #333333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 0.8rem;
  }
  
  .dropdown-content a:hover {
      background-color: #333333;
      color: #ffffff;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  

/* ### dropdown menu css code end ###*/
/*HEADER SECTION END*/

/*LINEBAR*/
.headerlinebar{
    width: 100%;
    min-height: 5vh;
}

.linebar{
    margin-top: 0px;
    border: none;
    background-color: #333333;
    width: 100%;
    height: 1px;
}

/*CAPTION SECTION START*/
.caption{
    width: 100%;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.caption h1{
    font-size: 5rem;
    text-align: center;
    color: #333333;
    margin-bottom: 60px;
    margin-top: 30px;
    margin-bottom: 70px;
    margin-left: 10%;
    margin-right: 10%;
}
.text h2{
    margin-bottom: 10px;
    margin-left: 10%;
    margin-right: 10%;
}
/*CAPTION SECTION END*/


/*CONTENT SECTION START*/
.content{
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-top: 100px;
}

.title h1{
    font-size: 2.5rem;
}

/*TITLE START*/

.title{
    margin-bottom: 30px;
    margin-top: 100px;
}
.title-name{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.line1{
    width: 20px;
    height: 45px;
    border: none;
    background-color: #b31942;
    margin-right: 10px;
}
/*TITLE END*/

.content p{
    margin-bottom: 25px;
}

      /*DOWN  START*/

  


         
      .second-level-menu
      {
          position: absolute;
          top: 40px;
          left: 0;
          width: 120px;
          list-style: none;
          padding: 0;
          margin: 0;
          display: none;
      }
      .second-level-menu > li
{
    position: relative;
    height: 40px;
    background: #efefef;
   }
.second-level-menu > li a{
    color: #333333;
}
.second-level-menu > li:hover { background: #b31942; }
.second-level-menu > li a:hover { color: #ffffff; }

.top-level-menu
{
    list-style: none;
    padding: 0;
    margin: 0;
}

.top-level-menu > li
{
    position: relative;
    float: left;
    height: 40px;
    width: 120px;
    background: #b31942;
}
.top-level-menu > li:hover { background: #333333; }

.top-level-menu li:hover > ul
{
    /* On hover, display the next level's menu */
    display: inline;
}


/* Menu Link Styles */

.top-level-menu a /* Apply to all links inside the multi-level menu */
{
    font:  14px Roboto, sans-serif;
    color: #FFFFFF;
    text-decoration: none;
    padding-left: 15px;

    /* Make the link cover the entire list item-container */
    display: block;
    line-height: 40px;
}
.top-level-menu li a{
    margin-left: 6px;
}
.top-level-menu a:hover { color: #ffffff; }

      /*DOWN  END*/





.meet-students{
    width: 100%;
    padding-top: 10px;
    border-radius: 1px;
    margin-top: 60px;
}

.meet-students-sub{
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    padding-top: 50px;
}
.read-students{
    display: flex;
    flex-direction: row;
 
}
.scrollupbtn{
    margin-right: 2.5%;
}

.scrollupimg{
    width: 50px;
    height: 50px;
    z-index: 1000;
}
/*CONTENT SECTION END*/

/*SECTION EVENTS START*/
.photos{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.photo-items1{
    overflow: hidden;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 20px;
}
.photo-items2{
    overflow: hidden;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
}
.photos img{
    width: 100%;
    border-radius: 1px;
    box-shadow: 3px 3px  5px  #333333;
    transition: transform .5s ease-out;
}
.photo-items1:hover img{
    transform: scale(1.5);
}

.photo-items2:hover img{
    transform: scale(1.5);
}
.more-events{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 200px;
    height: 65px;
    border-radius: 1px;
    padding-top: 3px;
    margin-top: 5px;
}
/*EVENTS END*/

/*SECTION FOOTER START*/
.footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #333333;
    align-items: center;
}

.footer p{
    color: #ffffff;
    margin-bottom: 0px;
}


/*SECTION FOOTER END*/



/*MEDIA QUERY@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
@media only screen and (max-width: 1200px) {
    .header-items{
        margin-left: 5%;
        margin-right: 5%;
    }
    .header-items P{
        font-size: 1rem;
    }

    /*### header items sub start*/
    .header-items-sub{
        display: none;
    }
    /*### header items sub end*/


    /*### dropdown menu start*/
    .dropbtn {
        display: block;
    }
      /*### dropdown menu end*/


      /*CAPTION START*/


      .caption h1{
        font-size: 3rem;
        margin-top: 10px;
        margin-bottom: 40px;
     }
  

      /*CAPTION END*/
      /*CONTENT SECTION START*/
      .content{
        margin-left: 10%;
        margin-right: 10%;
    }


/*TITLE START*/

.line1{
    width: 15px;
    height: 25px;
}
.title-name h1{
    font-size: 1.7rem;
}
/*TITLE END*/
    .scrollupimg{
        width: 35px;
        height: 35px;
        z-index: 1000;
    }
      /*CONTENT SECTION END*/

 


/*SECTION EVENTS START*/
.photos{
    flex-direction: column;
}
.photo-items1{
    margin-right: 0px;
}
.photo-items2{
    margin-left: 0px;
}
/*EVENTS END*/
}


/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/