
/**used colors dark black #212326;  light black #282a2d;  neutral #f2f2f2;  #333333   #777777 **/

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f2f2f2;
    font-family: 'Raleway', 'Open Sans', 'Baloo Chettan 2', sans-serif;
}

a{
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
    color: #333333;
    font-family: 'Raleway';
    letter-spacing: 1.5px;
    font-weight: 500;
}

p, a{
    color: #333333;
    font-family: 'Open Sans';

}
.header{
    width: 100%;
    background-color:#282a2d;
    width: 100%;
    position: fixed;
    top: 0;
}

.header-items{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    min-height: 10vh;
    margin-left: 15%;
    margin-right: 15%;
}

.header-items P{
    font-size: 1.5rem;
    color: #f2f2f2;
    letter-spacing: 1rem;
}

.content{
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 100px;
    margin-bottom: 100px;
}


.content h1{
    margin-top: 100px;
}
.content p{
    color: #333333;
}

.content button{
    width: 180px;
    height: 40px;
    background-color: #f2f2f2;
    border: 1px solid #777777;
    color: #777777;
    font-family:'Open Sans';
    margin-right: 30px;
    margin-top: 30px;
}


.content button:hover{
    border: none;
    background-color: #777777;
    color: #f2f2f2;
}


.buttons{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #212326;
    padding-top: 60px;
    padding-bottom: 20px;
}


.contact{
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
    background-color:#282a2d;
}

.contact h4{
    font-family:'Open Sans';
}
.footer h4, p{
    color: #f2f2f2;
}

.copyright{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color:#282a2d;
    height: 50px;
}

.cp{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cp img{
    width: 12px;
    height: 12px ;
    margin-right: 3px;
}
.copyright p{
    color: #777777;
    font-size: 12px;
}


@media only screen and (max-width: 1000px) {
    .header-items P{
        font-size: 1rem;
    }

    .content{
        margin-left: 10%;
        margin-right: 10%;
    }

    .content button{
        margin-top: 30px;
        }
    
        .buttons{
            flex-direction: column;
            margin-top: 0px;
        }

  }