


html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f2f0ef;
    font-family: 'Raleway', 'Open Sans', 'Baloo Chettan 2', sans-serif;
}

a{
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
    color: #555555;
    font-family: 'Raleway';
    letter-spacing: 1.5px;
    font-weight: 500;
}

p, a{
    color: #555555;
    font-family: 'Open Sans';
    letter-spacing: 1.2px;
}
.header{
    width: 100%;
    background-color:#282a2d;
}

.header-items{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    min-height: 10vh;
    margin-left: 15%;
    margin-right: 15%;
}

.header-items P{
    font-size: 1rem;
    color: #f2f0ef;
    letter-spacing: 5px;
}
.header-items-sub{
    display: flex;
    flex-direction: row;
}

/* ### dropdown menu css code start ###*/
.dropbtn {
    display: none;
    background-color: #282a2d; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #e1dddb;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
      background-color: #f2f0ef;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #555555;
  }
/* ### dropdown menu css code end ###*/
.content{
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 100px;
    margin-bottom: 100px;
}

.line{
    width: 100%;
    height: 5px;
    border: none;
    background-color: #aaaaaa;
    margin-bottom: 50px;
}
.content h1{
    margin-top: 100px;
    font-size: 3REM;
}
.content p{
    color: #555555;
}

.art-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.art-img img{
    width: 800px;
    height: auto;
}

.line2{
    width: 100%;
    height: 1px;
    background-color: #aaaaaa;
    border: none;
    margin-top: 40px;
}

.line3{
    width: 100%;
    height: 1px;
    background-color: #aaaaaa;
    border: none;
}

.content button{
    width: 180px;
    height: 40px;
    background-color: #e1dddb;
    border:none;
    color: #aaaaaa;
    font-family:'Open Sans';
    margin-right: 30px;
    margin-top: 30px;
}


.content button:hover{
    border: none;
    background-color: #f2f0ef;
}

.content button:hover a{
    color: #555555;
} 

.buttons{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}
.site{
    display: flex;
    align-items: center;
    justify-content: center;
}
.site p{
    color: #aaaaaa;
}
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #212326;
    padding-top: 60px;
    padding-bottom: 20px;
}


.contact{
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
    background-color:#282a2d;
}

.contact h4{
    font-family:'Open Sans';
}
.footer h4, p{
    color: #aaaaaa;
}

.copyright{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color:#282a2d;
    height: 60px;
}

.cp{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cp img{
    width: 12px;
    height: 12px ;
    margin-right: 3px;
}
.copyright p{
    color: #555555;
    font-size: 12px;
}


@media only screen and (max-width: 1000px) {
    .header-items{
        margin-left: 5%;
        margin-right: 5%;
    }
    .header-items P{
        font-size: 1rem;
    }

    /*### header items sub start*/
    .header-items-sub{
        display: none;
    }
    /*### header items sub end*/


    /*### dropdown menu start*/
    .dropbtn {
        display: block;
    }
      /*### dropdown menu end*/

    .content{
        margin-left: 10%;
        margin-right: 10%;
    }

    .art-img img{
        width: 300px;
        height: auto;
    }

    .content button{
        margin-top: 30px;
        }
    
        .buttons{
            flex-direction: column;
            margin-top: 0px;
        }

  }