*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Open Sans',   sans-serif;
}
a{
    text-decoration: none;
    color: #222222;
}
h1, h2, h3, h4, h5, h6, p{
    color: #222222;
}
p{
    line-height: 35px;
    font-weight: 400;
}

/*HEADER START */
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 30PX;
    padding-left: 15%;
    padding-right: 15%;
    min-height: 10vh;
}

.contact{
    float: right;
}
.hearder-line{
    width: 100%;
    height: 1px;
    border: none;
    background-color: #888888;
    margin-top: 20px;
}
/*HEADER END*/

  
  






/*ABOUT START*/
.about{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-width: 20vh;
    padding-top: 100px;
    padding-left: 25%;
    padding-right: 25%;
}
.about .photo{
    width: 200px;
    height: 220px;
    margin-right: 40px;
}
.about .photo img{
    width: 180px;
    height: 200px;
}

.about .about-text{
    display: flex;
    
}
/*ABOUT END*/


/*CONTENT START*/
.content{
    display: flex;
    flex-direction: column;
    padding-left: 25%;
    padding-right: 25%;
    width: 100%;
    min-height: 70vh;
    margin-top: 100px;
    margin-bottom: 100px;
    }
/*CONTENT END*/

/*SCROLL UP START*/

.scrollupimg{
    width: 50px;
    height: 50px;
}


/*SCROLL UP END*/

/*FOOTER START*/
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #222222;
}
.footer img{
    margin-top: 50px;
}
.footer p{
    color: white;
    margin-top: 15px;
    font-weight: 100;
}
/*FOOTER END*/

/*MEDIA QUERY@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
@media only screen and (max-width: 1000px){
    .header{
        padding-left: 10%;
        padding-right: 10%;
    }

    .about{
        padding-left: 10%;
        padding-right: 10%;
        flex-direction: column;
    }
    .about .photo{
        margin-bottom: 40px;
    }

/*CONTENT START*/
.content{

    padding-left: 10%;
    padding-right: 10%;

    }
/*CONTENT END*/
}