html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', 'Manjari', sans-serif;
    background-color: #f9f4ed;
}
h1, h2, h3, h4, h5, h6, p, a{
    color: #444444;
    letter-spacing: 1px;
}

a{
    text-decoration: none;
}

.hr-color{
    width: 100%;
    height: 12px;
    background-color: #cc6666;
    border: none;
}

.hr-dark{
    width: 100%;
    height: 2px;
    background-color: #444444;
    border: none;
}

.main-heading{
    font-size: 2.5rem;
    font-weight: 500;
    margin-top: 100px;
    margin-bottom: 0;
}
/**main container div**/
.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
    margin-bottom: 5%;
}

/**my photo div**/
.backerak{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.backerak img{
    width: 250px;
    height: 250px;

}
/**photo bottom text div**/
.profile-photo-bottom-text{
    width: 400px;
    height: 30px;
    color: #cc6666;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    
}
/**photo bottom text BACKER AK / LOGICAL MINDED**/
.profile-photo-bottom-text h3{
    font-size: 1rem;
    font-weight: 100;
    letter-spacing: 5px;
    margin-left: 6px;
    margin-right: 3px;
}

/**main caption text**/
.caption-text h1{
    font-size: 60px;
    font-weight: 500;
}

/**ARTICLE SECTION**/
.article-read{
    display: none;
    z-index: 1;
}

.article-title-items:hover .article-read{
    display: flex;
}
/**ARTICLE SECTION END**/
/**footer**/

.backtohomebtn{
    border: none;
    background-color: #cc6666;
    padding: 10px
}
.backtohomebtn a{
    color: #f9f4ed;
}
.footer{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 20px;
}

.footer p{
    margin-bottom: 5px;
    margin-top: 0;
    color: #444444;
}
@media only screen and (max-width: 600px){
    /**main container div**/
    .container{
        height: 100vh;
        display: flex;
        flex-direction: column;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 20%;
    }

    .backerak img{
        width: 160px;
        height: 160px;
    
    }
.profile-photo-bottom-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10PX;
}
    /**photo bottom text BACKER AK / LOGICAL MINDED**/
.profile-photo-bottom-text h3{
    font-size: 0.7rem;
    font-weight: 100;
    letter-spacing: 5px;
    margin-bottom: 0;
}
.profile-photo-bottom-text P{
    margin-top: 0;
    color: #cc6666;
    font-size: 0.7rem;
    letter-spacing: 1.5px;
}
/**main caption text**/
.caption-text h1{
    font-size: 25px;
    font-weight: 500;
    margin-top: 50px;
}

.main-heading{
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 60px;
    margin-bottom: 0;
}

.hr-color{
    width: 100%;
    height: 8px;
    background-color: #cc6666;
    border: none;
}

}
