
/**used colors dark black #212326;  light black #282a2d;  neutral #f2f2f2;  #333333   #777777 **/

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f2f2f2;
    font-family: 'Raleway', 'Open Sans', 'Baloo Chettan 2', sans-serif;
}

a{
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
    color: #333333;
    font-family: 'Raleway';
    letter-spacing: 1.5px;
    font-weight: 500;
}

p, a{
    color: #333333;
    font-family: 'Open Sans';
    letter-spacing: 1.2px;

}
.header{
    width: 100%;
    background-color:#282a2d;
    width: 100%;
    position: fixed;
}

.header-items{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    min-height: 10vh;
    margin-left: 15%;
    margin-right: 15%;
}

.header-items P{
    font-size: 1.5rem;
    color: #f2f2f2;
    letter-spacing: 1rem;
}

.caption{
    width: 100%;
    min-height: 50vh;
    background-color: #212326;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.caption h1{
    color: #f2f2f2;
    font-size: 10rem;
    margin-bottom: 0;
    margin-top: 100px;
}

.caption h3{
    color: #f2f2f2;
    font-size: 2rem;
    margin-top: 0;
}



.intro-text{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 20%;
    padding-right: 20%;
}

.intro-text h1{
    font-size: 2.5rem;
    color: #333333;
    margin-top: 50px;
}

.intro-text p{
    color: #333333;
    font-size: 1.3rem;
    margin-top: 50px;
}
.content{
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 50px;
    margin-bottom: 100px;
}

.line{
    width: 100%;
    height: 5px;
    border: none;
    background-color: #777777;
}

.content h2{
    margin-top: 75px;
}
.content h1{
    font-size: 3rem;
}
.content p{
    color: #333333;
    margin-bottom: 25px;
}

.line2{
    width: 100%;
    height: 1px;
    background-color: #777777;
    border: none;
    margin-top: 40px;
}

.line3{
    width: 100%;
    height: 1px;
    background-color: #777777;
    border: none;
}

.content button{
    width: 180px;
    height: 40px;
    background-color: #f2f2f2;
    border: 1px solid #777777;
    font-family:'Open Sans';
    margin-right: 30px;
}


.content button:hover{
    border: none;
    background-color: #777777;
}

.content button:hover a{
color: #f2f2f2;
}

.buttons{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}


.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #212326;
    padding-top: 60px;
    padding-bottom: 20px;
}


.contact{
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
    background-color:#282a2d;
}

.contact h4{
    font-family:'Open Sans';
}
.footer h4, p{
    color: #f2f2f2;
}

.copyright{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color:#282a2d;
    height: 50px;
}

.cp{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cp img{
    width: 12px;
    height: 12px ;
    margin-right: 3px;
}
.copyright p{
    color: #777777;
    font-size: 12px;
}


@media only screen and (max-width: 1000px) {
    .header-items P{
        font-size: 1rem;
    }


    .caption h1{
        font-size: 7rem;
    }
    
    .caption h3{
        font-size: 1.5rem;
    }


    .intro-text{
        padding-left: 10%;
        padding-right: 10%;
    }
    .content{
        margin-left: 10%;
        margin-right: 10%;
    }


    .content button{
    margin-top: 30px;
    }

    .buttons{
        flex-direction: column;
        margin-top: 0px;
    }



  }
