html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Fira Sans', 'Nunito Sans', 'Baloo Chettan 2', sans-serif;
    background-color: #f9f4ed;
}
h1, h2, h3, h4, h5, h6, p, a{
    font-family: Nunito Sans;
    color: #444444;
    letter-spacing: 1px;
}

a{
    text-decoration: none;
}

.hr-color{
    width: 100%;
    height: 12px;
    background-color: #cc6666;
    border: none;
    border-radius: 1px;
}

.hr-dark{
    width: 100%;
    height: 2px;
    background-color: #444444;
    border: none;
}

/**main container div**/
.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
    margin-bottom: 5%;
}

/**my photo div**/
.backerak{
    background-color: #cc6666;
    border-radius: 3px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
padding-left: 10px;
padding-right: 10px;
padding-top: 100px;
padding-bottom: 100px;
}

/**profile image**/
.backerak img{
    width: 250px;
    height: 250px;
}
/**photo bottom text div**/
.profile-photo-bottom-text{
    width: 50%;
    height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2px;
}

/**photo bottom text BACKER AK**/
.profile-photo-bottom-text h3{
    font-family: Fira Sans;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 2px;
    margin-bottom: 0;
}
/**photo bottom text msc psychology**/
.profile-photo-bottom-text p{
    font-family: Fira Sans;
    margin-top: 0;
    letter-spacing: 1.5px;
    font-weight: 300;
    font-size: 0.8rem;
}
/**main caption text**/
.caption-text h1{
    font-family: Fira Sans;
    font-size: 50px;
    font-weight: 100;
    color: #f9f4ed;
}

/**ARTICLE SECTION**/

/**MAIN HEADING**/

.article-title h1{
    font-family: Fira Sans;
    font-size: 2.2rem;
    font-weight: 500;
    margin-bottom: 0;
}
/**articles topic headings**/
.article-title-items h3{
    font-weight: 400;
}
/**READ link hided**/
.article-read{
    display: none;
    z-index: 1;
}

/**to show READ link**/
.article-title-items:hover .article-read{
    display: flex;
}
/**ARTICLE SECTION END**/

/**footer**/

.footer{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 20px;
}

.footer-sub{
    background-color: #cc6666;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    border-radius: 2px;
}

.footer-sub h4{
    margin-bottom: 5px;
    font-weight: 500;
}
.footer-sub p, h4{
    font-size: Fira Sans;
    color: #f9f4ed;
    letter-spacing: 1.5px;
}
.footer p{
    margin-bottom: 5px;
    margin-top: 0;
    text-align: center;
    margin-top: 5px;
}
/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/
/**ARTICLES PAGE SECTION START**/
/**article page back to home link button**/
.backtohomebtn{
    border: none;
    background-color: #cc6666;
    padding: 10px;
    border-radius: 2px;
}
.backtohomebtn a{
    color: #f9f4ed;
}


/**ARTICLES PAGE SECTION END**/
/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/



/**MEDIA QUERIES START HERE**/
/**%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%**/

@media only screen and (max-width: 1600px){
    /**main container div in 1000px**/
    .container{
        height: 100vh;
        display: flex;
        flex-direction: column;
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    /**my photo div in 1600px**/
    .backerak{
        padding-top: 50px;
        padding-bottom: 50px;
        }
    /**backerak img div in 1600px **/
.backerak img{
    width: 220px;
    height: 220px;

}

/**main caption text in 1600px**/
.caption-text h1{
    font-size: 45px;
    font-weight: 100;
    margin-top: 50px;
}

/**MAIN HEADING**/
.article-title h1{
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 0;
}
}

/**_______________________________________________________________**/

@media only screen and (max-width: 1000px){
    /**main container div in 1000px**/
    .container{
        height: 100vh;
        display: flex;
        flex-direction: column;
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    /**my photo div in 1000px**/
.backerak{
    padding-top: 40px;
    padding-bottom: 40px;
    }
    /**backerak img div in 1000px **/
.backerak img{
    width: 190px;
    height: 190px;

}

/**main caption text in 1000px**/
.caption-text h1{
    font-size: 40px;
    font-weight: 100;
    margin-top: 50px;
}

/**MAIN HEADING**/
.article-title h1{
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 0;
}
}
/*______________________________________________________________________________________*/

@media only screen and (max-width: 800px){
/**main container div in 600px**/
.container{
        height: 100vh;
        display: flex;
        flex-direction: column;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 20%;
}

/**my photo div in 800px**/
.backerak{
padding-top: 30px;
padding-bottom: 30px;
}
/**backerak img div in 600px **/
.backerak img{
        width: 160px;
        height: 160px;
    
}
/**profile photo bottom text div in 800px**/
.profile-photo-bottom-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1px;
}


/**photo bottom text BACKER AK in 800px**/
.profile-photo-bottom-text h3{
    font-size: 0.8rem;
    font-weight: 300;
    letter-spacing: 2px;
    margin-bottom: 0;
}
/**photo bottom text msc psychology in 800px**/
.profile-photo-bottom-text p{
    margin-top: 0;
    letter-spacing: 2px;
    font-weight: 300;
    font-size: 0.6rem;
    color: #444444;
}


/**main caption text in 800px**/
.caption-text h1{
    font-size: 30px;
    font-weight: 100;
    margin-top: 50px;
}

/**MAIN HEADING**/
.article-title h1{
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 0;
}
/**hr-color in 800px**/
.hr-color{
    width: 100%;
    height: 8px;
    background-color: #cc6666;
    border: none;
}

}

